{% extends 'base.html' %}
{% load static %}
{% block content %}

    {% include 'partials/_header.html' %}
        <main class="main-contato">
            <form action="" method="POST">
                {% csrf_token %}

                <label for="nomesobrenome">Nome e Sobrenome</label>
                <input type="text" id="nomesobrenome" class="input-padrao" name="nome" required>

                <label for="email">Email</label>
                <input type="email" id="email" class="input-padrao" name="email" required placeholder="seuemail@dominio.com">

                <label for="telefone">Telefone</label>
                <input type="tel" id="telefone" class="input-padrao" name="telefone" required placeholder="(XX) XXXXX-XXXX">
                
                <label for="mensagem">Mensagem</label>
                <textarea cols="30" rows="10" id="mensagem" class="input-padrao" name="mensagem" required></textarea>

                <fieldset>

                    <legend>Como prefere nosso contato:</legend>

                    <label for="radio-email"><input type="radio" value="email" name="contato" id="radio-email">Email</label>                    

                    <label for="radio-telefone"><input type="radio" value="telefone" name="contato" id="radio-telefone">Telefone</label>                    

                    <label for="radio-whatsapp"><input type="radio" value="whatsapp" name="contato" id="radio-whatsapp" checked>Whatsapp</label>                    

                </fieldset>

                <fieldset>
                    <label for="turno_atendimento">Qual horário prefere ser atendido:</label>                    
                    <select id="turno_atendimento" name="turno_atendimento">                    
                        <option value="manhã" >Manhã</option>
                        <option value="tarde" >Tarde</option>
                        <option value="noite" >Noite</option>
                    </select>

                </fieldset>

                <label class="checkbox"><input type="checkbox" name="newsletter" checked>Gostaria de receber nossas as novidades por email.</label>

                <input type="submit" value="Enviar formulário" class="enviar">

                <table>

                    <thead>
                        <tr>
                            <th>Dia</th>
                            <th>Horário</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Segunda</td>
                            <td>8h ~ 18h</td>
                        </tr>
                        <tr>
                            <td>Quarta</td>
                            <td>8h ~ 18h</td>
                        </tr>
                        <tr>
                            <td>Sexta</td>
                            <td>8h ~ 18h</td>
                        </tr>
                    </tbody>             

                </table>

            </form>

        </main>
    {% include 'partials/_footer.html' %}
{% endblock %}